.secondary-sidebar {
    grid-area: sidebar;
}

.dashboard-container {
    grid-area: main;
    padding: 20px;
}

main {

    grid-template-areas: 'sidebar main main main main main';
    display: grid;
}

.secondary-sidebar {
    width: 250px;
    background: #FFFFFF;
    padding: 20px;
    margin: 20px 0;
    overflow-y: auto;
    border-radius: 20px;
}

.sidebar-header {
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    /* Flexbox layout for header */
    justify-content: space-between;
    /* Space between title and button */
    align-items: center;
    /* Center vertically */
}

.title {
    font-size: 1.5rem;
    /* Font size for title */
    margin: 0;
    /* Remove default margin */
}

.add-new {
    color: var(--orange);
    text-decoration: none;
}

.add-new:hover {
    color: var(--orange);
}

.search-container {
    margin-bottom: 20px;
    /* Space below the search bar */
}

.search-input {
    width: 100%;
    /* Full width of the input */
    padding: 10px;
    /* Padding inside the search input */
    border: 1px solid #ccc;
    /* Border for the input */
    border-radius: 12px;
    /* Rounded corners */
}

.group-list {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}

.group-item {
    margin-bottom: 10px;
    /* Space between group items */
}

.group-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 600;
}

.group-link:hover {
    color: var(--orange);
}

.active {
    color: #EA5E20;
}

.header {
    background-color: transparent;
}

.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    flex: 1;
}

.right-section {
    display: flex;
    align-items: center;
}

.custom-title {
    font-size: 24px;
    font-weight: bold;
}

.custom-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of items */
}

.breadcrumb-item {
    margin-right: 5px;
    white-space: nowrap;
    font-size: 14px;
}

.breadcrumb-item:last-child {
    margin-right: 0;
}

.breadcrumb-item.active .custom-link {
    color: #EA5E20;
    /* Highlight active breadcrumb */
}

.custom-link {
    color: #6c757d;
    text-decoration: none;
}

.custom-link:hover {
    color: var(--orange);
}

/* Additional styles if needed for better visibility */
.breadcrumb-item.active .custom-link {
    font-weight: bold;
    /* Optional: bold text for active breadcrumb */
}

.action-item {
    margin-left: 20px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    font-size: 14px;
    font-weight: 450;
}

.action-item-theme {
    margin-left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.action-item-theme:hover,
.action-button:hover {
    background-color: #ddd;
    color: black;
}

.action-item:hover,
.action-button:hover {
    background-color: #ddd;
    color: black;
}


.action-button {
    display: flex;
    align-items: center;
    color: #6c757d;
    text-decoration: none;
    gap: 10px
}

.header-container {
    width: Fixed (1, 064px)px;
    height: Hug (30px)px;
    top: 166px;
    left: 345px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;

}

.group-summaries {
    flex-grow: 1;
    /* Allow this section to take up remaining space */
}

.group-title {
    margin: 20px 0 20px 0;
    /* Remove default margin from h4 */
    color: #333;
    /* Optional: set the text color */
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;

}

.summary-container {
    display: flex;
    flex-direction: column;
}

.summary-row {
    display: flex;
    flex-wrap: wrap;
    /* Allow rows to wrap for multiple rows */
    justify-content: flex-start;
    /* Align items to the start */
    margin-bottom: 20px;
    /* Space between rows */
    gap: 10px;
}

.summary-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(354px, 2fr));
    /* Adjusted to use auto-fit */
    gap: 20px;
    /* Optional: adds space between cards */
    margin: 0;
}

.summary-card {
    background-color: white;
    /* White background for cards */
    border-radius: 12px;
    max-height: 400px;
    /* Set the maximum height for the cards */
    overflow: hidden;
    /* Optional: hide overflow content */
    /* Optional: Adjust as needed for styling */

}

.summary-card-body {
    padding: 20px;
    text-align: center;
}

.summary-icon {
    margin-top: 5%;
    margin-right: 100%;
    /* Adds space between icon and text */
    font-size: 24px;
    /* Adjust icon size */
    display: inline-block;
    /* Ensures proper layout as an inline element */
    padding-bottom: 15px;
    /* Adds bottom padding */
}

.summary-content {
    display: flex;
    flex-direction: column;
    /* Stack title and text vertically */
}

.summary-card-title {
    margin: 0;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-bottom: 8px;
}

.summary-card-text {
    color: #A1A5B7;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

}

/* Main content layout */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* User Info Section */
.user-info-section {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 20px;
}

.symbol img {
    max-width: 284px;
    max-height: 182px;
    border-radius: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info-item .text-gray-900 {
    font-weight: bold;
    font-size: 18px;
}

/* Solution Data Section */
.solution-section {
    padding: 20px;
}

.solution-section {
    padding: 15px 0;
}

.solution-title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.solution-list {
    display: flex;
    flex-direction: column;
}

.solution-item {
    margin-bottom: 20px;
    padding: 5px 0;
}

.question p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 12px;
}

.answer {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    background-color: #A1A5B7;
}

.answer {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background: #17C653;
    border-radius: 6px;
    padding: 10px;
}

.answer span {
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

@media (min-width:1921px) {
    .filter-title {
        font-size: 45px;
    }

    /* Increase font size for buttons */
    .filter-section .btn-group .btn.toggle-btn {
        font-size: 28px;
        /* Change the font size as per your preference */
    }

    /* Increase font size for select dropdown */
    .filter-section select {
        font-size: 21px;
        /* Change the font size as per your preference */
        padding: 10px 10px 10px 0;
    }

    .dashboard-container {
        padding-left: 40px;
    }

    .summary-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
        /* Adjusted to use auto-fit */
        gap: 30px;
    }

    .summary-card-body {
        text-align: center;
    }

    .summary-card-title {
        font-size: 50px;
        padding-bottom: 28px;
    }

    .summary-card-text {
        font-size: 28px;
    }

    .summary-icon {
        font-size: 42px;
    }

    .custom-title {
        font-size: 45px;
        font-weight: bold;
    }

    .chart-title {
        font-size: 23px;
    }

    .secondary-sidebar {
        width: 550px;
        background-color: #f8f9fa;
        padding: 20px;
        /* padding-left: 20px; */
        margin: 20px 0;
        overflow-y: auto;
        border-radius: 20px;
    }

    .group-link {
        font-size: 24px;
    }

    .search-container {
        height: 60px;
    }

    .search-input {
        height: 60px;
    }

    .search-container .search-input::placeholder {
        font-size: 22px;
        /* Increase the placeholder font size */
    }

    .action-item-theme {
        padding: 20px;
        border-radius: 50px;
    }

    .action-button {
        font-size: 28px;
    }

    .icon {
        height: 2rem;
        width: 2rem;
    }

    .icon-img {
        width: 38px;
        height: 38px;
    }

    .toggle-btn {
        padding: 18px 22px;
        font-size: 16px;
        font-weight: 600;
        gap: 14px;
    }

    .fixed-buttons img {
        width: 40px;
        /* Set a fixed width for the icon */
        height: 40px;
        /* Set a fixed height for the icon */
    }

    .fixed-left {
        gap: 40px;
        margin-top: 30px;
    }

    /* Increase the font size for the breadcrumb items */
    .custom-breadcrumb .breadcrumb-item {
        padding-top: 10px;
        font-size: 23px;
        /* Adjust the font size as needed */
    }

    /* Increase the font size for the breadcrumb links */
    .custom-breadcrumb .breadcrumb-item .custom-link {
        font-size: 33px;
        /* Adjust the font size as needed */
    }

    .group-title {
        margin: 40px 0 40px 0;
        font-size: 45px;
    }

    .grid-card-title {
        font-size: 24px;
    }

    .chart-header p {
        font-size: 24px !important;
    }

    .grid-card-body p b {
        font-weight: bold;
        font-size: 25px;
        color: #3F4254;
    }

    .grid-card-body p span {
        text-align: right;
        font-size: 25px;
        font-weight: bold;
        color: #3F4254;
        padding-bottom: 17px;
        padding-top: 17px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 3fr));
        gap: 20px;
        margin: 20px 0;
    }

    .action-item {
        padding: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1438px) {

    .summary-card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        /* Adjusted to use auto-fit */
        gap: 10px;
    }

    .summary-card-title {
        font-size: 28px;
    }

    .summary-card-text {
        font-size: 14px;
    }

    .view-btn {
        padding: 3px 3px;
        width: 90%;
    }
}